# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vs/
.vscode/
src/assets/
# We don't put stuffs in the asset page anymore, we get them on build time
.env.development
# let's not push .env variables and dashieleak ourselves!
