---

---

<div
    class="prose
        max-w-none

        sm:prose-h1:mt-[.20rem] sm:prose-h1:mb-[2.18rem] sm:prose-h1:text-[1.5rem] prose-h1:text-[1.25rem]
        sm:prose-h2:text-[1.5rem] prose-h2:text-[1.25rem]
        sm:prose-h3:mt-0 prose-h3:mt-[-0.3rem] sm:prose-h3:mb-[-0.25rem] prose-h3:mb-[0rem] sm:prose-h3:text-[1.45rem] prose-h3:text-[1.25rem]
        sm:prose-h4:mt-0 prose-h4:mt-[-0.20rem] sm:prose-h4:mb-[-0.20rem] prose-h4:mb-0 sm:prose-h4:text-[1.45rem]
        sm:prose-table:mt-[2.2rem] prose-table:mt-[-.1rem] sm:prose-table:mb-[2.75rem] prose-table:mb-[2.35rem] sm:prose-table:leading-[2.11rem] prose-table:leading-[1.735rem] sm:prose-table:leading-[2.02rem]
        prose-p:my-[1.7125rem] sm:prose-p:my-[2.055rem] 
        sm:prose-ol:mb-[2.25rem] prose-ol:mb-[2rem]
        sm:prose-h2:my-8 prose-h2:my-7
        sm:prose-li:my-[2.05rem] prose-li:my-[1.7rem] sm:prose-ul:my-[2.073rem]

        prose-img:rounded-xl
        prose-headings:underline
        prose-a:text-blue-600
        

        
        mx-auto min-w-full
  ">
  <slot />
</div>
