---

---

<div
    class="prose
        max-w-none

        prose-h1:font-bold prose-h1:text-xl
        prose-h2:p-0
        prose-img:rounded-xl
        prose-headings:underline
        prose-a:text-blue-600
        prose-p:text-justify

        sm:prose-p:my-[2.055rem]
        prose-p:my-[1.7125rem]

        sm:prose-h2:my-8
        prose-h2:my-5


        sm:prose-li:my-[2.055rem] sm:prose-ul:my-[2.055rem]
        prose-li:my-[1.7125rem] prose-ul:my-[1.7125rem]

        mx-auto min-w-full
  ">
  <slot />
</div>
